@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/* base styles */
* {
    margin: 0;
    font-family: 'Montserrat';
    color: #333;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.8;
}

button {
    cursor: pointer;
    padding: 1.5em 2.5em;
    color: white;
    background-color: black;
    border-radius: 40px;
    border: 0px;
}

button:hover {
    opacity: 0.8;
}

.navbar {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}
.navbar h1 {
    color: #f1356d;
}

.links {
    display: flex;
    align-items: flex-start;
}

.navbar .links {
    margin-left: auto;
}
.navbar a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.navbar-icons {
    display: flex;
    padding-left: 3%;
}

.content {
    max-width: 100%;
    margin: 0 auto;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.greet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.greet-middle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50%;
    margin: 10%;
    margin-top: 15%;
    max-width: 750px;
}

.greet-middle h2 {
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
}

.logo {
    align-self: center;
    width: 100%;
    filter: invert(100%);
}

.about-button {
    background-color: white;
    border-radius: 35px;
    color: black;
    border: 0px;
    padding: 1.5em 2.5em;
    font-weight: 600;
    cursor: pointer;
}

.main {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 5%;
}
.main-wrapper {
    width: 100%;
    max-width: 1500px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 5%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.section .imgContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 400px;
    max-width: 500px;
    margin: 2%;
}

.section img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section h2 {
    margin: 2%;
}

.section p {
    margin: 2%;
    text-align: center;
}

.icons {
    max-height: 400px;
    max-width: 500px;
    margin: 2%;
}

header {
    width: 100%;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-address > p {
    padding: 5px;
    font-size: 0.9em;
}
.footer-menu a {
    padding: 5px;
    font-size: 0.9em;
}

.footer-wrapper {
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}

.footer-social a {
    padding: 10px;
    font-size: 1.5em;
}
.contact-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 60vh 60vh 30vh;
}

.contact-map-wrapper {
    display: flex;
    justify-content: center;
}

.navbar-logo-image-wrapper img {
    max-width: 120px;
    min-width: 120px;
}
